.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}
.flex {
  font-size: 1em;
}

.fc-header-toolbar {
  padding: 0px 15px;
  /* Add your extra CSS styles here */
  /* Example:
  background-color: red;
  color: white;
  */
}
.clsLogoutBtn {
  display: flex;
  align-items: center;
  background-color: #f0f4f8;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  padding: 0.5rem 1rem;
}
