.wrapper {
  background-size: cover;
  height: 100vh;
}

.form {
  border-right: 1px solid var(--mantine-colors-dark-7, #000);
  max-width: 450px;
  padding-top: 80px;
  height: 100vh;
  margin-left: auto;
  /* Set marginLeft to auto to align the Paper component to the right */
  @media (max-width: 768px) {
    max-width: 100%;
  }
  margin-right: 150px;
}

.title {
  color: var(--mantine-colors-dark-7, #000);
  font-family: 'Greycliff CF', sans-serif;
}

.logo {
  color: var(--mantine-colors-dark-7, #000);
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
