
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.3;
  font-size: 15px !Important;
  height:100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
.ctrtblhead {
  white-space: pre-wrap !important;
}

.ctrtblhead > div {
  white-space: pre-wrap !important;
  word-break: break-word !important;
}