html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
/*
.clsweekend {
  color: #ca5478;
  font-weight: bold;
  opacity: 0.8 !important;
  border-color: #f89292;
  background: #fce6b4 !important;
}*/

.clsPublicHoliday {
  color: rgb(241, 68, 68);

  background: rgb(255, 198, 221);

  background: linear-gradient(
    0deg,
    rgba(255, 198, 221, 1) 0%,
    rgba(255, 210, 228, 1) 28%,
    rgba(255, 229, 240, 1) 48%,
    rgba(246, 239, 242, 1) 88%
  ) !important;
  font-weight: bold;
  color-scheme: dark;
  opacity: 0.9 !important;
}

.clsVacation {
  color: #000b5b;
  font-weight: bold;

  background: #6d6ff5 !important;
}

.fc-toolbar .fc-button {

  background: linear-gradient(135deg, #ff8a00 0%, #f76b1c 100%);
  color: white;
  border: 1px solid !important;
  border-color: #c7851b !important;
}
.fc-toolbar .fc-button:hover {
  background: #ff9933 !important;
}
/* Change the button radius */
.ctrtblhead {
  white-space: pre-wrap !important;
}
.ctrtblhead  .mrt-table-head-cell-content-wrapper,
.ctrtblhead > div {
  white-space: pre-wrap !important;
  word-break: break-word !important;
}

 