.mySection {
  background-color: rgb(255, 240, 104);
}

.tsSection {
  background-color: #ccffcc;
}
.adminSectionHeader {
  background: linear-gradient(to bottom, #00bcd4, #2196f3 80%, #42a5f5);
}
.mycard {
  /* background-color: var(--mantine-color-tomato-0); */
  background-color: #fffffd;
  border-radius: var(--mantine-radius-md);

  max-width: var(--cardwidth, 400px);

  box-shadow: var(
    --mantine-shadow-sm,
    0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06)
  );
  /* &:hover {
    background-color: var(--mantine-color-gray-1, #f8f1ea);
  } */
}
