.clsweekend {
  color: #000b5b;
  font-weight: bold;

  background: #ffc4c4 !important;
}

.clsPublicHoliday {
  color: #000b5b;
  font-weight: bold;
  border-color: #f54b4b;
  background: #f54b4b !important;
}
